body{
  font-family: 'Lobster', cursive;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  #face {
    background-color: #fefefe;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFFFFFFF');
    background-image: linear-gradient(to right, #fefefe 0%, #dbd9da 17%, #0b0d0c 50%, #0b0e0c 51%, #b0b1b5 59%, #aeadbd 71%, #cfcfcd 84%, #ffffff 100%);
    margin: 20px;
    padding: 10px 0 0 10px;
    width: 160px;
    height: 160px;
    border: 1px solid #999;
    border-radius: 50%;
    box-shadow: inset 0 0 3px #000;
    position: relative;
        
        #glass {
            box-shadow: inset 0 0 6px #000;
            background: #a6a39e;
            filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC8C5C0', endColorstr='#FFADA8A2');
            background-image: linear-gradient(to right, #c8c5c0 0%, #ada8a2 100%);
            width: 150px;
            height: 150px;
            border: 1px solid #999;
            border-radius: 80px;
            position: relative;
        }

        #glass div {
            position: absolute;
        }

        #glass div:nth-child(2n) {
            transform: rotate(-90deg);
        }

        #glass #twelve {
            top: 3px;
            left: 65px;
        }

        #glass #three {
            top: 66px;
            left: 135px;
        }

        #glass #six {
            top: 135px;
            left: 67px;
        }

        #glass #nine {
            top: 66px;
            left: 5px;
        }
        
        .number{
            font-size: 70px;
            margin: 20px;
            background: #e1ddd2;
            box-shadow: inset 0 1px 1px #777777, inset 0 -1px 1px #777777;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1c2252;
        }
    }

    #face:after {
        content: " ";
        display: block;
        width: 14px;
        height: 22px;
        position: absolute;
        right: -15px;
        top: 74px;
        z-index: -9;
        border-radius: 10px;
        border: 1px solid #888;
        background-color: #aaa;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF282828');
        background-image: linear-gradient(to right, #ffffff 0%, #505050 7%, #c5c7c6 14%, #505050 22%, #e6e4e7 28%, #8d8c91 35%, #e9e9e9 42%, #8c8c8c 49%, #e2e2e4 57%, #c8c8c8 65%, #808080 72%, #b4b4b4 76%, #fdfdfd 85%, #b4b4b4 92%, #282828 100%);
    }
    
    .btn{
        border: 1px solid #20A510;
        background: rgba(0, 199, 83, 0.9);
        color: white;
        padding: 13px 26px;
        border-radius: 13px;
        box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
            text-shadow: #7ea4bd 0 1px 0;
            font-size: 18px;
            font-family: helvetica, serif;
            text-decoration: none;
            vertical-align: middle;
        margin: 5px;
        }

        .lap-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .lap-info{
                font-size: 35px;
                border-bottom: 1px solid gray;
                width: 100%;
                text-align: center;
            }
        }
}