.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number{
    font-size: 70px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0px 20px;
    margin: 20px;
}

.btn{
  border: 1px solid #20A510;
  background: rgba(0, 199, 83, 0.9);
  color: white;
  padding: 13px 26px;
  border-radius: 13px;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #7ea4bd 0 1px 0;
  font-size: 18px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 5px;
}

.lap-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lap-info{
    font-size: 35px;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
}